* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  max-width: 1170px;
  padding: 0 16px;
}

.table {
  background-color: aqua;
  border: 1px solid black;
}

.defpadding {
  padding: 10px;
}

.th {
  border: 2px solid black;
}

.td {
  border: 2px solid black;
  padding: 10px;
}

.pages {
  display: flex;
  flex-direction: row;
}

.page {
  width: fit-content;
  text-align: center;
  border-radius: 15px;
  background-color: darkorange;
  opacity: 80%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.groupdiv{
  width: fit-content;
  background-color: aquamarine;
  border: 3px solid burlywood;
  border-radius: 10px;
  padding: 20px;
}
