/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Arvo", serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  .page_404 img {
    width: 100%;
  }
  
  .four_zero_four_bg {
    text-align: center;
  }
  
  .four_zero_four_bg h1 {
    font-size: 80px;
  }
  
  .four_zero_four_bg h3 {
    font-size: 80px;
  }
  
  .link_404 {
    color: #fff !important;
    padding: 15px 30px;
    background: #39ac31;
    border-radius: 10px;
    margin: 20px 0;
    display: inline-block;
  }
  .contant_box_404 {
    display: inherit;
    flex-direction: column;
    align-items: center;
  }
  
  .text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .showImage {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
  }
  