.inputs {
    display: flex;
    flex-direction: column;
  }
  
  .logincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
  }
  



/* -------------------------------------------------------------------------------------- */

  button,
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    /* width: 100px; */
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
}

button:hover,
.button:hover {
    background-color: #45a049;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.mt-0 {
    margin-top: 0;
}


.transction-form-wrapper {
  display: flex;
  justify-content: center;
}

.transction-form {
  width: 300px;
}



.forminputs
 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.field-errors {
    margin-bottom: 5px;
    font-size: 12px;
    color: red;
}

.media-preview img {
    width: 200px;
    margin-top: 20px;
}

.back-link {
    font-weight: 700;
    cursor: pointer;
}

.group-wrapper {
    width: 200px;
}

.per-page label {
    width: 200px;
}