/* Global css */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 16px;
  }

  .loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .inputs{
    display: flex;
    flex-direction: column;
  }